.landing-main {
  background-color: black;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: radial-gradient(
      rgba(255, 255, 255, 0.06) 20%,
      transparent 0
    ),
    radial-gradient(rgba(255, 255, 255, 0.04) 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 1px 1px;
}

.landing-logo {
  width: 8.5em;
  margin-top: 18vh;
}

.landing-heading {
  color: white;
  font-family: "Podkova", serif;
  font-weight: 800;
  font-size: 4em;
  margin-top: 3.4vh;
}

.landing-footer {
  background-color: #76ffbd;
  height: 7vh;
}
