.profile-main {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.06) 20%,
      transparent 0
    ),
    radial-gradient(rgba(255, 255, 255, 0.04) 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 1px 1px;
}

.profile-pic {
  border-radius: 50%;
  width: 25vh;
  height: 25vh;
  margin-top: 12vh;
  border-style: solid;
  border-color: white;
  border-width: 0.4em;
  object-fit: scale-down;
}


.profile-name {
  color: white;
  font-size: 2.4em;
  font-weight: 600;
  margin-top: 4vh;
}

.profile-id {
  color: rgb(136, 136, 136);
  font-size: 1.7em;
  font-weight: 400;
  margin-top: 0.8vh;
  margin-bottom: 10vh;
}

.profile-repo-card {
  color: black;
  font-size: 2em;
  font-weight: 700;
  background: white;
  padding: 0.6em 2.5em 0.6em 2.5em;
  margin-top: 5vh;
  width: 70vw;
  border-radius: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-repo-avatar {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  border-style: solid;
  border-color: white;
  object-fit: scale-down;
}